{
  debug
  http_port 80
  https_port 443
}

http://localhost.localdomain {
  root * /mnt/github/
  file_server browse
}

https://localhost.localdomain {
  tls /etc/ssl/certs/self-signed/cert.pem /etc/ssl/certs/self-signed/key.pem
  root * /mnt/github/
  file_server browse
}
