{
  debug
  http_port 80
  https_port 443
}

http://localhost.localdomain {
  root * /src/caddy/mnt/github/
  file_server {
    disable_canonical_uris
  }
}

https://localhost.localdomain {
  tls /src/cert/generated/cert.pem /src/cert/generated/key.pem
  root * /src/caddy/mnt/github/
  file_server {
    disable_canonical_uris
  }
}
